body {
    background-color: #eee;
}

#canvasContainer {
    position: relative;
    width: 100%;
    padding-top: 75%;
    /* 4:3 Aspect Ratio */
}

#canvasContainer>canvas {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100% !important;
    height: 100% !important;
    z-index: 1;
}

/* Loader */
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 4;
  width: 200px;
  height: 200px;
  margin: -75px 0 0 -75px;
  border: 15px solid rgba(230, 230, 230, 0.84);
  border-radius: 50%;
  border-top: 15px solid rgba(0, 0, 0, 0.64);
  width: 160px;
  height: 160px;
  -webkit-animation: spin 2.2s linear infinite;
  animation: spin 2.2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Landscape phones and portrait tablets */

@media (max-width: 767px) {

}