body {
    background-color: #eee;
}

#canvasContainer {
    position: relative;
    width: 100%;
    padding-top: 60%;
}

#canvasContainer>canvas {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100% !important;
    height: 100% !important;
}

.annotation {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    padding: 0.3em;
    /* width: 120px; */
    color: #fff;
    background: rgba(50, 50, 50, 0.8);
    border-radius: .2em;
    font-size: 15px;
    line-height: 1.2;
    transition: opacity .5s;
    &::before {
        content: '1';
        position: absolute;
        top: -30px;
        left: -30px;
        width: 30px;
        height: 30px;
        border: 2px solid #fff;
        border-radius: 50%;
        font-size: 16px;
        line-height: 30px;
        text-align: center;
        background: rgba(0, 0, 0, 0.8);
    }
}

.sloper30 {
    margin-left: 15px;
    margin-top: 15px;
}

.annotation>p {
    margin: 3px;
}


/* Loader */

#loader > .anim {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 4;
    width: 200px;
    height: 200px;
    margin: -75px 0 0 -75px;
    border: 15px solid rgba(230, 230, 230, 0.64);
    border-radius: 50%;
    border-top: 15px solid rgba(0, 0, 0, 0.64);
    width: 160px;
    height: 160px;
    -webkit-animation: spin 2.2s linear infinite;
    animation: spin 2.2s linear infinite;
}

#loader > .text {
    position: absolute;
    left: 48%;
    top: 48.5%;
    z-index: 4;
    color: rgba(230, 230, 230, 0.84);
    text-align: center;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 150%;
    
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


/* Landscape phones and portrait tablets */


/* @media (max-width: 767px) {} */